// Header text feature
.author-info {
  @extend %padding-regular;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: $header-desc-text-color;
  background: $header-desc-background-color no-repeat;
  background-size: $feature-image-size;

  /* --- Responsive --- */
  @media screen and (max-width: 850px) {
    background-size: 100% auto;
  }

  //For white images
  p,
  a,
  li,
  h1,
  h2,
  h3,
  h4,
  h5 {
      @extend .header-txt-shadow;
  }

  p:last-child {
      margin-bottom: 0;
  }

  .author-profile {
    @extend %round-profile-img;
    float: left;
    border-radius: 100%;
    background-size: cover;
  }

 .author-text {
  @extend %round-profile-txt;
  float: left;

    .author-name {
      @extend %font-title;
      margin-bottom: 0;
      text-align: left;
    }

    .author-link {
      @extend %font-subtitle;
      text-align: left;
    }
	}
}

#author-info {
  background-position: 100% 0px, 0% center, center top;
}

// Post listing
.posts {
  .post-teaser {
    @extend %padding-regular;
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    background-size: $feature-image-size;
    border-bottom: 1px solid $border-color;
    p a {
      @extend .body-link;
    }
  }
  .excerpt {
    margin-top: 1em;
  }
}

// Pagination
.pagination {
  padding: $padding-small $padding-large 0 $padding-large;
  text-align: center;
  @media (max-width: 600px) {
    padding: $padding-small;
  }

  .button {
    margin: 0 1.5em;
    i {
      vertical-align: middle;
    }
  }
}
